<!--
	<style media="print">
  #adminHeader,#ZURBar,div#sidebar,ul.tabs li,#site-info div#zurbword,#site-info div#zurbnews,#site-info div#footer{display:none !important}#site-info div#zurbcontact{border-top:2px solid #e0e0e0;padding-top:10px;width:400px}ul.tabs li.current{display:block !important;margin:-7px -30px 0 0}li.current a span{color:#000;background-color:green}div#content ul.options,div.post-header ul.admin,div#pageHeader,div#content-sec div,div#content-main div.footer,div#content-main div#comments{display:none !important}; div.column-row div#content-main{width:20%}body#showPage div#content-main div.post{width:120%}div#content-sec div#aboutZURBlog{display:block !important;width:70%;margin-left:80px}div.secondary.page-header{display:none !important}div#content-main{font-size:15px;line-height:17px}div.post-header h2{font-size:26px}div.body{font-size:16px;line-height:19px}body#showPage div#content-main blockquote,body#showPage div#content-main blockquote p{color:#555}div.vcard ul. div.vcard address,div.vcard p{color:000}
  </style>
-->
<!--
	<link href="javascript-annotation-plugin_files/playground.css" media="all" rel="stylesheet" type="text/css">
-->

<!--
	<style media="all">ul.nav li#ZURBmenu a{}ul.nav li#ZURBmenu a img{display:none !important}ul.nav li#ZURBmenu strong{background:transparent url(/playground/zurb-nub.png)}ul.nav li#ZURBmenu a:hover strong{background-color:none}ul.nav li#ZURBmenu a:hover strong img{display:block}div#header img{}div#header h4{margin:0}div#header h4 a{float:left;margin:20px 0 0 15px;padding:5px 0 1px 14px;color:#777;font-weight:normal;border-left:1px solid #ddd}a.follow-us{background:url(/images/icons/24px/twitter-inset.png) no-repeat 0 center;display:block;float:right;margin:25px 0 0;padding-left:30px;line-height:24px;color:#333;font-size:14px}a.follow-us:hover{color:#555}a#followUs{float:right;margin-top:20px}a#getAJob{float:right;margin-top:20px;margin-right:20px}a#followUs span{background:url(/images/icons/16px/twitter-inset.png) no-repeat 10px 3px;padding-left:30px}div.page-header h2{letter-spacing:0}div.page-header.playground{-moz-background-clip:border;-moz-background-origin:padding;-moz-background-size:auto auto;background-attachment:scroll;background-color:transparent;background-image:url("/images/playground/robot.jpg");background-position:99% 40%;background-repeat:no-repeat;height:auto;margin-top:0px}div#siteInfo div#aboutPlayground h4{margin-bottom:9px}div.awesome.box{background:#efefef;margin:0 0 18px 0;padding:12px 0;-webkit-border-radius:6px;-moz-border-radius:6px;border:1px solid #ddd;border-top-color:#ccc;width:200px}div.awesome.box div.divider{height:0;margin:0 14px 5px 14px;background-color:#ccc;width:172px;border-bottom:1px solid #ddd}div.awesome.box h4 a{display:block;color:#333;padding:3px 0 5px 0;width:100%;font-size:16px}div.awesome.box li{margin-bottom:5px;color:#333;text-decoration:none}div.awesome.box li a{display:block;width:100%;color:#333}div.awesome.box a:hover{background:#007d9a;color:white}div.awesome.box a span{display:block;margin:0 14px}div.awesome.box form input[type="text"]{margin:0 10px;width:150px}div.currentdemo{color:#888;margin-top:-17px;margin-bottom:15px}div.currentdemo h2{margin-top:-14px}ul.photos.playground.slide li{float:left;height:100px;margin-bottom:0px;margin-left:20px;margin-right:0;margin-top:0px;position:relative;width:300px}ul.photos.playground.slide li p{margin-left:160px;margin-top:-90px}ul.photos.playground.slide li strong{display:block}div.currentdemo.right{color:#888;margin-bottom:0;float:left}div.currentdemo.right h2{margin-top:}div.selectorleft{margin-left:-25px;top:125px;position:absolute;z-index:2}div.selectorright{margin-left:567px;top:125px;position:absolute;z-index:2}div.indicator{position:absolute;margin-left:545px;margin-top:0px}div.indicator ul li{display:inline}p.slideinfo{width:450px;margin-top:5px;font-size:15px}
	</style>
-->
<head>
	<script>
	var j = jQuery.noConflict();
	j(document).ready(function(){

		j('.set-label').draggable();
		
		num1 = 0.3875
		num2 = 0.3857
		j('#scr1').addAnnotations(function(annotation){
			return j(document.createElement('span')).
				addClass('set-label').html(annotation.position);
		},[
				{x: num1, y: num2, position: 4}, 
				{x: .57, y: .329, position: 2}
			]
		);

		j('#show_coords').click(function(event){
			event.preventDefault();
	
			j('#lessons_area').empty();
			j.each(j('#scr1 span.set-label').seralizeAnnotations(), function(){
				j('#lessons_area').append(j(document.createElement('li')).html('<strong>x:</strong> ' + this.x + '<br/> <strong>y:</strong> ' + this.y + '<br/> <strong>response_time:</strong> ' + this.response_time + 'ms' +'<br/><br/>'
				));
			});
		});

		j('#save_coords').click(function(event){
			event.preventDefault();

			j('#lessons_area').empty();
			j.each(j('#scr1 span.set-label').seralizeAnnotations(), function(){
				j('#lessons_area').append(j(document.createElement('li')).html('<strong>x:</strong> ' + this.x + '<br/> <strong>y:</strong> ' + this.y + '<br/> <strong>response_time:</strong> ' + this.response_time + 'ms' + '<br/><br/>'
				));
			});
		});

/*
			j.each(j('#scr2 span.note').seralizeAnnotations(), function(){
				j('#serializedOutput ul').append(j(document.createElement('li')).html('<strong>x:</strong> ' + this.x + ' <strong>y:</strong> ' + this.y + ' <strong>response_time:</strong> ' + this.response_time + 'ms'));
			});

			j.each(j('#scr3 span.note').seralizeAnnotations(), function(){
				j('#serializedOutput ul').append(j(document.createElement('li')).html('<strong>x:</strong> ' + this.x + ' <strong>y:</strong> ' + this.y + ' <strong>response_time:</strong> ' + this.response_time + 'ms'));
			});

			j.each(j('#scr4 span.note').seralizeAnnotations(), function(){
				j('#serializedOutput ul').append(j(document.createElement('li')).html('<strong>x:</strong> ' + this.x + ' <strong>y:</strong> ' + this.y + ' <strong>response_time:</strong> ' + this.response_time + 'ms'));
			});

			j.each(j('#scr5 span.note').seralizeAnnotations(), function(){
				j('#serializedOutput ul').append(j(document.createElement('li')).html('<strong>x:</strong> ' + this.x + ' <strong>y:</strong> ' + this.y + ' <strong>response_time:</strong> ' + this.response_time + 'ms'));
*/
	});
	</script>
</head>

<button id="show_coords"> Show Coords </button>
<button id="save_coords"> Show</button> <br/><br/>

<%
	flag1 = true
	flag2 = true
	flag3 = true
	flag4 = true
	flag5 = true
%>



<% for screenshot in @documentation.screenshots %>
	<% if flag1 %>
		<div id="scr1">
		<%= image_tag screenshot.data.url(:original), :alt => "", :width => "800" %><br/><br/>
		</div>
		<% flag1 = false %>

	<%elsif flag2 %>
		<div id="scr2">
		<%= image_tag screenshot.data.url(:original), :alt => "", :width => "800" %><br/><br/>
		</div>
		<% flag2 = false %>

	<%elsif flag3 %>
		<div id="scr3">
		<%= image_tag screenshot.data.url(:original), :alt => "", :width => "800" %><br/><br/>
		</div>
		<% flag3 = false %>

	<%elsif flag4 %>
		<div id="scr4">
		<%= image_tag screenshot.data.url(:original), :alt => "", :width => "800" %><br/><br/>
		</div>
		<% flag4 = false %>

	<%elsif flag5 %>
		<div id="scr5">
		<%= image_tag screenshot.data.url(:original), :alt => "", :width => "800" %><br/><br/>
		</div>
		<% flag5 = false %>
	<% end %>
<% end %>
