<head>
	<script>
	var j = jQuery.noConflict();
	j(document).ready(function(){

		j('.set-label').draggable();

		var i = 'add';
		var pos = 'center';
		j('#add', '#controls').click(function() {
			i = 'add';
		});

		j('#arrow', '#controls').click(function() {
			i = 'arrow';
			pos = 'left';
		});

		j('#screenie', '#controls').click(function() {
			i = 'screenie';
		});

		j('#up', '#controls').click(function() {
			i = 'up';
		});

		j('#view', '#controls').click(function() {
			i = 'view';
			pos = 'right';
		});

		j('#scr1').annotatableImage(function(annotation){
			return j(document.createElement('span')).
				addClass(i);
		}, {xPosition: pos });

		j('#scr2').annotatableImage(function(annotation){
			return j(document.createElement('span')).
				addClass(i);
		}, {xPosition: pos });

		j('#scr3').annotatableImage(function(annotation){
			return j(document.createElement('span')).
				addClass(i);
		}, {xPosition: pos });

		j('#scr4').annotatableImage(function(annotation){
			return j(document.createElement('span')).
				addClass(i);
		}, {xPosition: pos });

		j('#scr5').annotatableImage(function(annotation){
			return j(document.createElement('span')).
				addClass(i);
		}, {xPosition: pos });
		
		num1 = 0.3875
		num2 = 0.3857
		
		j('#scr1').addAnnotations(function(annotation){
			return j(document.createElement('span')).
				addClass('set-label').html(annotation.position);
		},[
				{x: num1, y: num2, position: 4}, 
				{x: .57, y: .329, position: 2}
			]
		);

		j('#show_coords').click(function(event){
			event.preventDefault();
	
			j('#lessons_area').empty();
			j.each(j('#scr1 span.set-label').seralizeAnnotations(), function(){
				j('#lessons_area').append(j(document.createElement('li')).html('<strong>x:</strong> ' + this.x + '<br/> <strong>y:</strong> ' + this.y + '<br/> <strong>response_time:</strong> ' + this.response_time + 'ms' +'<br/><br/>'
				));
			});
		});

		j('#save_coords').click(function(event){
			event.preventDefault();

			j('#lessons_area').empty();
			j.each(j('#scr1 span.set-label').seralizeAnnotations(), function(){
				j('#lessons_area').append(j(document.createElement('li')).html('<strong>x:</strong> ' + this.x + '<br/> <strong>y:</strong> ' + this.y + '<br/> <strong>response_time:</strong> ' + this.response_time + 'ms' + '<br/><br/>'
				));
			});
		});

/*
			j.each(j('#scr2 span.note').seralizeAnnotations(), function(){
				j('#serializedOutput ul').append(j(document.createElement('li')).html('<strong>x:</strong> ' + this.x + ' <strong>y:</strong> ' + this.y + ' <strong>response_time:</strong> ' + this.response_time + 'ms'));
			});

			j.each(j('#scr3 span.note').seralizeAnnotations(), function(){
				j('#serializedOutput ul').append(j(document.createElement('li')).html('<strong>x:</strong> ' + this.x + ' <strong>y:</strong> ' + this.y + ' <strong>response_time:</strong> ' + this.response_time + 'ms'));
			});

			j.each(j('#scr4 span.note').seralizeAnnotations(), function(){
				j('#serializedOutput ul').append(j(document.createElement('li')).html('<strong>x:</strong> ' + this.x + ' <strong>y:</strong> ' + this.y + ' <strong>response_time:</strong> ' + this.response_time + 'ms'));
			});

			j.each(j('#scr5 span.note').seralizeAnnotations(), function(){
				j('#serializedOutput ul').append(j(document.createElement('li')).html('<strong>x:</strong> ' + this.x + ' <strong>y:</strong> ' + this.y + ' <strong>response_time:</strong> ' + this.response_time + 'ms'));
*/
	});
	</script>
</head>

<%
	flag1 = true
	flag2 = true
	flag3 = true
	flag4 = true
	flag5 = true
%>

<button id="show_coords">Show Coords</button>

<% for screenshot in @documentation.screenshots %>
	<% if flag1 %>
		<div id="scr1">
		<center><%= image_tag screenshot.data.url(:original), :alt => "", :width => "800" %></center><br/><br/>
		</div>
		<% flag1 = false %>

	<%elsif flag2 %>
		<div id="scr2">
		<center><%= image_tag screenshot.data.url(:original), :alt => "", :width => "800" %></center><br/><br/>
		</div>
		<% flag2 = false %>

	<%elsif flag3 %>
		<div id="scr3">
		<center><%= image_tag screenshot.data.url(:original), :alt => "", :width => "800" %></center><br/><br/>
		</div>
		<% flag3 = false %>

	<%elsif flag4 %>
		<div id="scr4">
		<center><%= image_tag screenshot.data.url(:original), :alt => "", :width => "800" %></center><br/><br/>
		</div>
		<% flag4 = false %>

	<%elsif flag5 %>
		<div id="scr5">
		<center><%= image_tag screenshot.data.url(:original), :alt => "", :width => "800" %></center><br/><br/>
		</div>
		<% flag5 = false %>
	<% end %>
<% end %>
