  <%= f.error_messages %>
  <%= f.hidden_field :user_id, :value=>"#{session[:user_id]}"%>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    
<div id="screenshots">
  <%= render :partial => 'screenshot', :collection => @documentation.screenshots %>
</div>
 
<%= link_to_function "Add Screenie" do |page|
  page.insert_html :bottom, :screenshots, :partial => 'screenshot', :object => Screenshot.new
end %>
