<%= f.error_messages %>
<%= f.hidden_field :user_id, :value=>"#{session[:user_id]}"%>
<p>
  <%= f.label :title %>
  <%= f.text_field :title, :style=>'width: 300px;' %>
</p>
<p>
  <%= f.label :description %>
  <%= f.text_area :description, :style=>'width: 300px;' %>
</p>
