<div id="controls_area" class="controls">
  <ul>
    <li> <%= image_tag("controls/add.png", :border=>0) %></li>
    <li> <%= image_tag("controls/delete.png", :border=>0) %></li>
    <li> <%= image_tag("controls/screenie.png", :border=>0) %></li>
  </ul>
</div>

<div id="screenie_area" class="main_content">

	<div id="screenshots">
  	<%= render :partial => 'screenshot', :collection => @documentation.screenshots %>
	</div>

	<% for screenshot in @documentation.screenshots %>
		<%= image_tag screenshot.data.url(:original), :alt => "", :width => "800" %> <br />
	<% end %>

</div>

<div id="lessons_area" class="main_content">
  <h1> LESSONS AREA </h1>

	<% form_for(@documentation) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit "Update" %>
		<%= link_to 'Back', :controller => 'documentations', :action => "#{@documentation.id}" %>
  </p>
  <% end %>
</div>


