<% form_for(@documentation) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit "Update" %>
		<%= link_to 'Back', :controller => 'documentations', :action => "#{@documentation.id}" %>
  </p>
<% end %>
