<head>
	<%= stylesheet_link_tag 'in_place_styles' %>
</head>

<div id="controls" class="controls">
  <%= render  :partial=> 'shared/headerEdit' %>
</div>

<div id="content_container2">
<div id="content_container">
	<div id="about_dox">

		<% @creator = User.find(@documentation.user_id) %>
		<div id="title" class="about_dox"> <%= in_place_text_field :documentation, 'title' %></div><br/>
		<div id="info" class="about_dox"> <i><%= in_place_text_area :documentation, 'description' %></i> </div> 
		<div id="mode_button"><%= link_to 'Save', :controller => "documentations", :action => "#{@documentation.id}" %></div>
	</div>

	<div id="screenie_area" class="content">
		<div id="upload_panel" >
			<% form_for @documentation, :html => { :multipart => true } do |f| %>
				<%= add_screenshot(f) %><br/><br/>
			<% end %>
		</div>
  <div id="draggable" class="ui-widget-content">
	<p>Drag me to my target</p>
</div>
		<%= render :partial => 'dox_screenshots' %>     
	</div>

	<div id="lessons_area" class="content">
    
	</div>
	
	<div style="clear:both;"></div>
</div>
</div>
