<div id="content_container2">
<div id="content_container">
	<div id="about_dox">
		<% @creator = User.find(@documentation.user_id) %>
		<div id="title" class="about_dox"> <%= @documentation.title %>
			<span id="author" class="about_dox"><i> &nbsp; by <%=h @creator.name %></i> </span> </div><br/>
	 
		<div id="info" class="about_dox"> <i><%= @documentation.description %></i> </div> 
		<% if @current.id == @documentation.user_id %>
			<div id="mode_button"><%= link_to 'Edit', edit_documentation_path(@documentation) %></div>
		<% end %>
	</div>

	<div id="screenie_area" class="content">
		<%= render :partial => 'dox_screenshots' %>  
	</div> 

	<div id="lessons_area" class="content">
	
	  <fieldset>
		  <legend>Screensteps live account info</legend> <br />
		  <form name="screensteps_info" method="get">
		    Domain <input type="text" name="domain" id="domain" size=26/><br />
		    Space <input type="text" name="space" id="space" size=26/> <br /><br />
		    <input type="button" value="Submit" onclick="getInfo()"/>
		  </form>
    </fieldset>
  
    <h5>Search for available lessons in Screensteps live:</h5>
    <form id="screenstepslive-search" action="">
      <p>
        <input type="text" id="screenstepslive-search-field" value="" name="text"></input>
        <input type="submit" value="Search">
      </p>
    </form>	
    <h3>Search Results</h3>
    <div id="search_results"></div>
	</div>
	
		<div style="clear:both;"></div>
</div>
</div>
