<div class="goweedox-form">

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <fieldset>
  
  <legend>Sign-up | Enter your details</legend>
  
  <div>
    <%= f.label :name, 'User Name' %>
    <%= f.text_field :name, :size => 30 %>
  </div>
  <br />
  
  <div>
	<%= f.label :user_password, 'Password' %> 
	<%= f.password_field :password, :size => 30 %>
  </div>
  <br />

  <div>
	<%= f.label :user_password_confirmation, 'Confirm' %>
	<%= f.password_field :password_confirmation, :size => 30 %> <br /><br />
  </div>
  
  <div>
	<button type="submit">Signup</button>
  </div>
  
  </fieldset>
<% end %>
</div>
