<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<% @current = User.find(session[:user_id]) %>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />

	<% if controller.action_name == 'show_users' %>
		<% title = 'USERS' %>
	<% else title = @current.name %>
	<% end %>
  <title>Gowee Dox | <%= title %></title>
	<link rel="icon" href="/images/icon.png" type="image/x-icon">
  
  <%= stylesheet_link_tag 'dox_extras','doxlayout','welcome', 'scaffold', 'custom-theme/jquery-ui-1.8.2.custom', 'style' %>
  <%= javascript_include_tag 'ui/jquery.ui.widget', 'ui/jquery.ui.tabs' %>
	<%= javascript_include_tag 'jquery-1.4.2.js' %>
	<%= javascript_include_tag 'jquery-spasticNav.js', 'jquery-ui.min.js' %>
  
	<script type="text/javascript">
	var j = jQuery.noConflict();
	j(document).ready(function(){

		//codes for nav
		j('#nav').spasticNav();

		j('#tabs').tabs({ fxSlide: true, fxFade: true, fxSpeed: 'normal' });
/* This part adds a dialog box
		var $dialog = $('<div></div>')
			.html('This dialog will show every time!')
			.dialog({
				autoOpen: false,
				title: 'Basic Dialog'
			});

		$('#opener').click(function() {
			$dialog.dialog('open');
			// prevent the default action, e.g., following a link
			return false;
		});
*/
	});	
	</script>

</head>
	
<body>
<!--
	<div id="top_wrap">
		<div id="always_top">
			<%= link_to 'Home', :controller => 'admin', :action => 'index' %>  |
	    <%= link_to 'Users', :controller => 'admin', :action => 'show_users' %> |   
	    <%= link_to 'Logout', :controller => 'admin', :action => 'logout' %> 
		</div>
	</div>
-->
	<div id="header">	
	  <div id="menu" class="menu">
			<ul id="nav">
				<li id="selected"><A><%= link_to 'Home', :controller => 'admin', :action => 'index' %></A></li>
				<li><A><%= link_to'Users', :controller => 'admin', :action => 'show_users' %></A></li>
				<li><A><%= link_to 'Logout', :controller => 'admin', :action => 'logout' %></A></li>
			</ul>
	    <ul>
        <li> <%= link_to image_tag("gdox.png", :border=>0), :action => 'admin', :action => 'index' %></li>
	    </ul>
	</div>
	
	<div id="content">
	  <div id="main_content">
			<% if flash[:notice] -%>
		  	<div id="notice"><%= flash[:notice] %></div>
		  <% end -%>
	    <%= yield %>
	  </div>
	</div>

	<div id="footer"> 
    <%= render :partial=> 'shared/footer' %>
  </div>

</body>
</html>
