<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<% @current = User.find(session[:user_id]) %>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />

	<% if controller.action_name == 'show_users' %>
		<% title = 'USERS' %>
	<% else title = @current.name %>
	<% end %>
  <title>Gowee Dox | <%= title %></title>
  
  <%= stylesheet_link_tag 'extras','doxlayout','gowee', 'scaffold', 'jquery.ui.all', 'custom-theme/jquery-ui-1.8.1.custom.css' %>
  <%= javascript_include_tag "jquery-1.4.2", "ui/jquery.ui.core", "ui/jquery.ui.widget", "ui/jquery.ui.tabs"%>
  
	<script type="text/javascript">
	$(function() {
		$("#tabs").tabs();
	});
	</script>

</head>
	
<body>
	<div id="top_wrap">
		<div id="always_top">
			<%= link_to 'Home', :controller => 'admin', :action => 'index' %>  |
	    <%= link_to 'Users', :controller => 'admin', :action => 'show_users' %> |   
	    <%= link_to 'Logout', :controller => 'admin', :action => 'logout' %> 
		</div>
	</div>
	<div id="header">	
	  <div id="menu" class="menu">
	    <ul>
        <li> <%= link_to image_tag("gdox.png", :border=>0), :action => 'admin', :action => 'index' %></li>
	    </ul>
	</div>
	
	<div id="content">
	  <div id="main_content">
			<% if flash[:notice] -%>
		  	<div id="notice"><%= flash[:notice] %></div>
		  <% end -%>
	    <%= yield %>
	  </div>
	</div>

	<div id="footer"> 
    <%= render :partial=> 'shared/footer' %>
  </div>

</body>
</html>
