<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
	  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	  <% if controller.action_name == 'edit' %>
		  <% title = 'Edit Mode' %>
	  <% elsif controller.action_name == 'show' %>
		  <% title = 'View Mode' %>
	  <% end %>
	  <title>Documentations : <%= title %></title>

		  <%= javascript_include_tag :defaults %>
		  <%= stylesheet_link_tag 'scaffold', 'dox_layout', 'dox_content' , 'extras'%>
		  <%= javascript_include_tag 'screenstepslive.js', 'jquery.js', 'jquery.min.js' %>

		  <script>
        jQuery.noConflict();
   		</script>

	    <script type="text/javascript" charset="utf-8">
			  ScreenStepsLiveSearchOptions = {
				  domain: "caresharing.screenstepslive.com",
				  space: "helpdes",
				  update_element: "search_results",
				  username: "codrschool",
				  password: "codrschool",
				  use_ssl: false
			  }

			  jQuery(document).ready(function($) {
				  jQuery('#screenstepslive-search').submit(function(e){
					  e.preventDefault();
					  search_string = jQuery('#screenstepslive-search input#screenstepslive-search-field').val();
					  SearchScreenStepsLiveSpace(search_string);
				  })
			  });
		  </script>
  </head>

  <body>

	  <div id="header">	
	    <div id="menu" class="menu">	
        <%= render  :partial=> 'shared/headerDox' %>
      </div>
	  </div>

	  <div id="container">
		  <div id="content">
			  <%= yield %>
		  </div>
	  </div>
	  <div id="footer"> 
      <%= render  :partial=> 'shared/footer' %>
    </div>

  </body>
</html>
